.build
build
DerivedData
node_modules
*.ipa
*.xcarchive
*.p8
*.xcconfig
App/iOS/Secrets.xcconfig
Package.resolved
**/*.png
**/*.jpg
**/*.jpeg
**/*.webp
**/*.mp4
**/*.mov
web/assets
App/iOS/Assets.xcassets
fastlane/report.xml
supabase/.temp
